<footer>
    <p><em>Enjoy a Legendary Brew!</em></p>
    <p>&copy;2025 Gluttonous Chupacabra</p>
    <p>
        <a href="#" id="validation_link_html">Validate HTML</a> |
        <a href="#" id="validation_link_css">Validate CSS</a>
    <nav>
        <a href="https://gbcuriel.github.io/itis3135/index.html" target="_blank">ITIS3135</a> |
        <a href="https://github.com/gbcuriel" target="_blank">GitHub.com</a> |
        <a href="https://webpages.charlotte.edu/dcuriel" target="_blank">CLT Web</a> |
        <a href="https://gbcuriel.github.io" target="_blank">GitHub.io</a> |
        <a href="https://www.linkedin.com/in/diego-curiel-a16088223" target="_blank">LinkedIn</a> |
        <a href="index.html" target="_blank">Gluttonous
            Chupacabra</a>
    </nav>
    </p>
</footer>

<script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>