/* General Body Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7eedc;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: #570505;
    color: #f7eedc;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Navigation Styles */
nav ul {
    padding: 0;
    list-style-type: none;
    margin: 1rem 0 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

a {
    color: #ffd139;
    text-decoration: none;
}

a:hover {
    color: #01a30a;
    text-decoration: underline;
}

/* Main Content Styles */
main {
    text-align: center;
    padding: 20px;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    background-color: #f7eedc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    color: #180e11;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #570505;
    color: #f7eedc;
    vertical-align: bottom;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and (min-width: 981px) and (max-width: 1400px) {
    #colorbox {
        background-color: yellow;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and (min-width: 601px) and (max-width: 980px) {
    #colorbox {
        background-color: orange;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        background-color: red;
    }
}