<header>
    <h1>ITIS 3135 | Grimble Curiel Gluttonous Chupacabra | <span id="page-title-placeholder"></span></h1>
    <nav style="text-align: center; margin-top: 1rem;">
        <ul style="list-style: none; display: flex; gap: 2rem; padding: 0; margin: 0; justify-content: center;">
            <li><a href="index.html">Home</a></li>
            <li>|</li>
            <li><a href="contract.html">Contract</a></li>
            <li>|</li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="../mascot/about.html">Mascot Site</a></li>

        </ul>
    </nav>
</header>