<header>
    <h1>ITIS 3135 | Grimble Curiel Gluttonous Chupacabra | <span id="page-title-placeholder"></span></h1>
    <nav style="text-align: center; margin-top: 1rem;">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>|</li>
            <li><a href="contract.html">Contract</a></li>
            <li>|</li>
            <li><a href="introduction.html">Introduction</a></li>
            <li>|</li>
            <a href="website_evaluations.html">Web Evals</a>
            <li>|</li>
            <li><a href="fccfsjs_outline.html">FCC Agreement</a></li>
            <li>|</li>
            <li><a href="intro_form.html">Introduction Form</a></li>
            <li>|</li>
            <li><a href="project_overview.html">Project Overview</a></li>
        </ul>
        <hr style="width: 60%; margin: 1rem auto; border: 1px solid #ffffff;">
        <ul style="list-style: none; display: flex; gap: 2rem; padding: 0; margin: 0; justify-content: center;">
            <li><a href="stuff/Get Y0 StanKY a$$ 0UTTA here.htm" target="_blank">Crappy Site</a></li> |
            <li><a href="../gluttonouschupacabra/index.html" target="_blank">Gluttonous Chupacabra</a></li> |
            <li><a href="hobby/index.html" target="_blank">Hobby Page</a></li> |
            <li><a href="" target="_blank">React3</a></li> |
            <li><a href="client/index.html" target="_blank">NC Tech Partners</a></li>
        </ul>
    </nav>
</header>