<header>
    <h1>ITIS 3135 | Grimble Curiel Gluttonous Chupacabra | <span id="page-title-placeholder"></span></h1>
    <nav style="text-align: center; margin-top: 1rem;">
        <ul style="list-style: none; display: flex; gap: 2rem; padding: 0; margin: 0; justify-content: center;">
            <li><a href="index.html">Home</a></li>
            <li>|</li>
            <li><a href="contract.html">Contract</a></li>
            <li>|</li>
            <li><a href="introduction.html">Introduction</a></li>
        </ul>
        <hr style="width: 60%; margin: 1rem auto; border: 1px solid #ffffff;">
        <ul style="list-style: none; display: flex; gap: 2rem; padding: 0; margin: 0; justify-content: center;">
            <li><a href="/itis3135/stuff/stuffx2/humbug/Get Y0 StanKY a$$ 0UTTA here.htm">Crappy Site</a></li>
        </ul>
    </nav>
</header>